
.title{
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    left: 38%;
    bottom:30%;
    text-align: center;
    border: 1px solid;

}
.container{
    position: absolute;
    left: 20%;
    margin: 30px;
}
/**/